<!DOCTYPE html>
<html>
    <head>
        <title>결제</title>
        <% include sys/inc/_jscss %>
        <% include com/inc/_starRating %>
        <script type="text/javascript">
        
        </script>
    </head>
<body>

<% include sys/inc/_header %>

    <!-- Begin page content -->
    <main role="main">
        <div class="container">
            <div class="mr30"></div>
            <h1>결제확인</h1>
            <div class="row">
            
                <div class="col-sm-1">
                    <a href="/sel/selDtl?selTitle=저는 아무거나 할 수 있습니다.">
                        <img class="Thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" alt="썸네일">
                    </a>
                </div>
                <div class="col-sm-9 text-left">
                    저는 아무거나 할 수 있습니다.  / 블라블라 / 솰라솰라
                    <br/>
                    <span class="badge badge-danger">완료됨</span>
                    <small class="text-muted">2017-09-01 15:28 | 전문가 : Auust | 연락처 : 010-9999-8888</small>
                    
                </div> <!-- div col-sm-3 -->
               
            </div><!-- row -->
            
        </div> <!-- Container -->
    </main>

<% include sys/inc/_footer %>
</body>
</html>