<!DOCTYPE html>
<html>
    <head>
        <title>Baton</title>
        <% include sys/inc/_jscss %>
        <script type="text/javascript">

        
        </script>
    </head>
<body>

<% include sys/inc/_header %>

<% include com/inc/_navCat %>

<% include com/inc/_ad1 %>

    <!-- Begin page content -->
    <main role="main">
        <div  class="container text-center">
            
            <p><h2>원하는 카테고리에서 파트너를 찾아보세요</h2></p>




            <div class="container marketing">
                <div class="row">
                    <div class="col-lg-3">
                        <h3><a class="nav-link" href="/sel/selMst?cat=카테고리명">카테고리명</a></h3>
                        <img class="rounded-squre" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" />
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <h3><a class="nav-link" href="/sel/selMst?cat=카테고리명">카테고리명</a></h3>
                        <img class="rounded-squre" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" />
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <h3><a class="nav-link" href="/sel/selMst?cat=카테고리명">카테고리명</a></h3>
                        <img class="rounded-squre" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" />
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <h3><a class="nav-link" href="/sel/selMst?cat=카테고리명">카테고리명</a></h3>
                        <img class="rounded-squre" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" />
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-lg-3">
                        <h3><a class="nav-link" href="/sel/selMst?cat=카테고리명">카테고리명</a></h3>
                        <img class="rounded-squre" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" />
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <h3><a class="nav-link" href="/sel/selMst?cat=카테고리명">카테고리명</a></h3>
                        <img class="rounded-squre" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" />
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <h3><a class="nav-link" href="/sel/selMst?cat=카테고리명">카테고리명</a></h3>
                        <img class="rounded-squre" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" />
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <h3><a class="nav-link" href="/sel/selMst?cat=카테고리명">카테고리명</a></h3>
                        <img class="rounded-squre" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" />
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
                <div class="mr30"></div>
            </div>

        </div>
    </main>

<div class="mr50"></div>
<div class="jumbotron text-center">
    <h1 class="display-4">배너1</h1>
</div>

<% include sys/inc/_footer %>
</body>
</html>