<!DOCTYPE html>
<html>
    <head>
        <title>나의 서비스</title>
        <% include sys/inc/_jscss %>
        <script type="text/javascript">
        
        </script>
    </head>
<body>

<% include sys/inc/_header %>

    <!-- Begin page content -->
    <main role="main">
        <div class="container">
            <div class="mr30"></div>
            <h1>나의 서비스</h1>
            
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" >판매중</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">승인대기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">비승인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">취소</a>
                </li>
            </ul>
            
        </div> <!-- Container -->
    </main>

<% include sys/inc/_footer %>
</body>
</html>