<!DOCTYPE html>
<html>
    <head>
        <title>판매 등록</title>
        <% include sys/inc/_jscss %>
        <script type="text/javascript">
        
        </script>
    </head>
<body>

<% include sys/inc/_header %>

    <!-- Begin page content -->
    <main role="main">
        <div class="container">
            <div class="mr20"></div>
            <nav aria-label="breadcrumb">
                <div class="row">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><i class="fa fa-circle-o" aria-hidden="true"></i> 기본사항</li>
                            <li class="breadcrumb-item" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 가격설정</li>
                            <li class="breadcrumb-item" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 서비스설명</li>
                            <li class="breadcrumb-item" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 이미지</li>
                            <li class="breadcrumb-item" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 요청사항</li>
                        </ol>
                    </div>
                </div><!-- row -->
            </nav>
            <div class="mr30"></div>
            <div class="jumbotron">
                <h1 class="display-4">판매등록 완료</h1>
                <p class="lead">관리자가 검토 후 등록 됩니다</p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/" role="button">메인으로</a>
                </p>
            </div>
        </div> <!-- Container -->
    </main>

<% include sys/inc/_footer %>
</body>
</html>