<!DOCTYPE html>
<html>
    <head>
        <title>회원가입</title>
        <% include sys/inc/_jscss %>
        <script type="text/javascript">
            
            let dupEmalAddr = true;
        
            $(document).ready(function () {
                
                $("#EMAL_ADDR").blur(function () {
                    
                    let $this = $(this);
                    
                    _sendAjax("/com/chkDupEmalAddr", {"EMAL_ADDR" : $this.val()}, function (data) {
                        dupEmalAddr = data;
                        
                        _validFormItem($("#EMAL_ADDR"), $("#dupEmalAddr"), "사용할 수 있는 이메일 주소 입니다", "이미 사용중인 이메일 주소 입니다", data);
                    });
                    
                });
                
                $("#USER_DIV_CD_01, #USER_DIV_CD_02").click(function() {
                    
                    let val = $(this).val();
                    let corInfo = $("#corpInfo");
                    
                    if ("10" == val) {
                        corInfo.hide();
                    } else if ("20" == val) {
                        corInfo.show();
                    }
                    
                });
                
            });
            
            function _onsubmit() {
                if (dupEmalAddr == false) {
                    alert("이메일 중복 체크가 실패 했습니다.");
                    return false;
                }
            }
        
        </script>
    </head>
<body>

<% include sys/inc/_header %>

    <!-- Begin page content -->
    <main role="main">
      <div class="container">
        <div class="mr30"></div>
        <h1>무료회원가입</h1>
            <form method="post" onsubmit="return _onsubmit();" >
                <div class="form-group">
                    <label for="">이메일</label>
                    <input type="email" class="form-control" id="EMAL_ADDR" name="EMAL_ADDR" aria-describedby="emailHelp" placeholder="이메일" required />
                    <div id="dupEmalAddr"></div>
                </div>
                <div class="form-group">
                    <label for="">비밀번호</label>
                    <input type="password" class="form-control" id="USER_PW" name="USER_PW" placeholder="비밀번호" required />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">비밀번호 확인</label>
                    <input type="password" class="form-control" id="USER_PW2" name="USER_PW2" placeholder="비밀번호확인" required />
                </div>
                <div class="form-group">
                    <label for="">이름</label>
                    <input type="text" class="form-control" id="USER_NM" name="USER_NM" placeholder="이름" required />
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <label for="">국적</label>
                        <select class="form-control" id="NATI_CD" name="NATI_CD">
                            <% for (let idx = 0, _max = natiCd.length ; idx < _max ; idx ++) {
                                let item = natiCd[idx]; %>
                            <option value="<%= item["CD_VAL"] %>"><%= item["CD_NM"] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="">언어</label>
                        <select class="form-control" id="LNGG_CD" name="LNGG_CD">
                            <% for (let idx = 0, _max = lnggCd.length ; idx < _max ; idx ++) {
                                let item = lnggCd[idx]; %>
                            <option value="<%= item["CD_VAL"] %>"><%= item["CD_NM"] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">사는곳</label>
                    <input type="text" class="form-control" id="LIVE_AREA" name="LIVE_AREA" placeholder="사는곳">
                </div>
                <div class="form-group">
                    <label for="">생년월일</label>
                    <input type="date" class="form-control" id="BITH" name="BITH" placeholder="생년월일" />
                </div>
                <div class="form-group">
                    <label for="">휴대폰 번호</label>
                    <input type="tel" class="form-control" id="CPHN_NO" name="CPHN_NO" placeholder="휴대폰번호" />
                    
                </div>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="USER_DIV_CD" id="USER_DIV_CD_01" value="10" checked />
                    <label class="form-check-label" for="USER_DIV_CD_01">개인</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="USER_DIV_CD" id="USER_DIV_CD_02" value="20" />
                    <label class="form-check-label" for="USER_DIV_CD_02">기업</label>
                </div>
                
                <div id="corpInfo" style="display:none">
                    <div class="form-group">
                        <label for="">회사명</label>
                        <input type="text" class="form-control" id="CORP_NM" name="CORP_NM" placeholder="회사명" />
                    </div>
                    <div class="form-group">
                        <label for="">사업자등록번호</label>
                        <input type="text" class="form-control" id="BIZ_REG_NO" name="BIZ_REG_NO" placeholder="사업자등록번호">
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-primary">회원가입</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

<% include sys/inc/_footer %>
</body>
</html>