<br/>
<footer class="card-footer">
  <div class="container col-11">
    <div class="row">
        <div class="col-sm">
            회사소개
        </div>
        <div class="col-sm">
            이용약관
        </div>
        <div class="col-sm">
            개인정보처리방침
        </div>
        <div class="col-sm">
            로고
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm">
            회사명 : (주)바톤컴퍼니
        </div>
        <div class="col-sm">
            대표 : 이원명
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            주소 : 경기도 수원시 광교로 107 창조융합센터 10층
        </div>
        <div class="col-sm">
            개인정보관리책임자 : 이원명 
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            사업자 등록 번호 : xxxxx
        </div>
        <div class="col-sm">
            통신판매업신고 : xxxx 
        </div>
        <div class="col-sm">
            이메일 : xxxxxx  
        </div>
    </div>
  </div>
</footer>