<!DOCTYPE html>
<html>
  <head>
    <title>로그인 테스트</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>로그인 테스트</h1>
    <form name="loginForm" method="post" action="login.do" >
        <p><label for="userId">아 이 디 : </label><input type="text" id="userId" name="userId" required="true"/></p>
        <p><label for="userPw">패스워드 : </label><input type="password" id="userPw" name="userPw" required="true"/></p>
        <input type="submit" value="로그인" />
    </form>
  </body>
</html>
