<!DOCTYPE html>
<html>
  <head>
    <title>팝업 테스트</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/comm.js"></script>
    <script type="text/javascript">
        function _regImgPopCb_test(attcFileSeq) {
            alert(attcFileSeq);
        }
    </script>
  </head>
  <body>
    <h1>팝업 테스트</h1>
    <input type="button" onclick="openRegImgPop('test', '4', '3')" value="이미지등록" />
  </body>
</html>
