<!DOCTYPE html>
<html>
  <head>
    <title>Test Page</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Test Page List</h1>
    <p>한글 폰트 / English Font</p>
    <hr/>
    <p>Database Connection Check - <a href="/test/chkDb" target="_blank">/test/chkDb</a></p>
    <p>Show Table List - <a href="/test/tables" target="_blank">/test/tables</a></p>
    <p>Insert Test - <a href="/test/insertTest" target="_blank">/test/insertTest</a></p>
    <p>Update Test - <a href="/test/updateTest" target="_blank">/test/updateTest</a></p>
    <p>Websocket Test - <a href="/test/ws" target="_blank">/test/ws</a></p>
    <p>Login Test - <a href="/test/loginTest" target="_blank">/test/loginTest</a></p>
    <p>Bootstrap Test - <a href="/test/bootstrap" target="_blank">/test/bootstrap</a></p>
    <p>Upload Test - <a href="/test/upload" target="_blank">/test/upload</a></p>
  </body>
</html>
