<!DOCTYPE html>
<html>
  <head>
    <title>Update Test</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Update Test</h1>
    <p>Result [<%= result %>]</p>
    <p><%= message %></p>
  </body>
</html>
