<!DOCTYPE html>
<html>
  <head>
    <title>업로드 테스트</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>업로드 테스트</h1>
    <form name="form" method="post" enctype="multipart/form-data" >
        <p><label for="userId">파일 : </label><input type="file" id="file" name="file" required="true"/></p>
        <input type="submit" value="upload" />
    </form>
  </body>
</html>
